@font-face {
    font-family: 'Gilroy-300';
    src: url('./../fonts/gilroy-300-normal.woff2') format('woff2'), url('./../fonts/gilroy-300-normal.woff') format('woff'), url('./../fonts/gilroy-300-normal.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
  src: url('./../fonts/gilroy-800-normal.woff2') format('woff2'), url('./../fonts/gilroy-800-normal.woff') format('woff'), url('./../fonts/gilroy-800-normal.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

body {
    font-family: 'Open Sans', 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 30px;
    min-width: 1200px;
    font-weight: 300;
    margin: 0;
    padding: 0;
    background-color: white;
}

body h1,
body h2 {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 47px;
    line-height: 60px;
    color: black;
    font-weight: 800;
    font-style: normal;
}

main {
    background-color: white;
}

.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}

.container a {
    text-decoration: none;
    color: inherit;
}

.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 60px;
    padding-right: 60px;
    background-image: -webkit-linear-gradient(top, rgb(255, 255, 255) 40px, rgb(247, 226, 150) 40px);
    background-image: -o-linear-gradient(top, rgb(255, 255, 255) 40px, rgb(247, 226, 150) 40px);
    background-image: linear-gradient(to bottom, rgb(255, 255, 255) 40px, rgb(247, 226, 150) 40px);
    position: relative;
    font-size: 15px;
    line-height: 36px;
}

.page-header .logo {
    margin-bottom: 9px;
    margin-top: 23px;
    margin-left: 0;
}

.logo:hover {
    opacity: 0.6;
}

.logo:active {
    opacity: 0.3;
}

.searcher-and-functions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 16px;
}

.searcher {
    width: 430px;
    margin-right: 71px;
    padding-left: 38px;
    position: relative;
}

.searcher::before {
    content: "";
    position: absolute;
    top: 11px;
    left: 3px;
    background: url("./../img/search.svg") no-repeat;
    width: 16px;
    height: 16px;
}

.searcher input {
    background-color: inherit;
    border: none;
    opacity: 0.3;
    margin-right: 156px;
    vertical-align: baseline;
    font-size: 15px;
    line-height: 36px;
    padding-left: 0;
    margin-left: 0;
    letter-spacing: 0.2px;
}

.searcher input:hover {
    opacity: 0.6;
}

.searcher input:focus {
    opacity: 1;
    outline: 0;
}

.searcher input:focus + label {
    display: inline-block;
    vertical-align: bottom;
}

.searcher input:focus + label::before {
    content: "";
    width: 373px;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 38px;
    left: 0;
}

.searcher label {
    outline: 2px solid black;
    display: none;
    width: 75px;
    text-align: center;
}

.searcher label:hover {
    background-color: black;
    color: white;
    display: inline-block;
    vertical-align: middle;
}

.searcher label:active {
    color: gray;
}

.searcher label:active::after {
    content: "";
    width: 373px;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 38px;
    left: 0;
}

.head-btn {
    width: 100px;
    position: relative;
}

.head-btn a {
    padding-left: 27px;
}

.head-btn:hover {
    opacity: 0.6;
}

.head-btn:active {
    opacity: 0.3;
}

.user {
    min-width: 160px;
    padding-left: 0px;
    letter-spacing: 0.2px;
    padding-right: 19px;
}

.enter {
    margin-right: 180px;
}

.enter::before,
.user::before,
.enter-f::before {
    content: "";
    position: absolute;
    top: 11px;
    left: 3px;
    background: url("./../img/user.svg") no-repeat;
    width: 13px;
    height: 12px;
}

.user::before {
    left: 2px;
    top: 12px
}

.exit {
    margin: 0;
    padding: 0;
    padding-left: 0px;
    text-align: left;
    padding-right: 2px;
}

.exit a {
    opacity: 0.3;
    padding: 0;
    margin: 0;
    text-align: left;
    display: inline-block;
    vertical-align: baseline;
}

.compare {
    margin-right: 20px;
}

.compare::before,
.compare-f::before {
    content: "";
    position: absolute;
    top: 14px;
    left: 7px;
    background: url("./../img/compare.svg") no-repeat;
    width: 10px;
    height: 10px;
}

.bucket,
.bucket-f {
    text-align: right;
}

.bucket::before,
.bucket-f::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 18px;
    background: url("./../img/cart.svg") no-repeat;
    width: 12px;
    height: 12px;
}

.nav-menu-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
}

.nav-menu-header h2 {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 18px;
    color: black;
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 3.5px;
    padding: 0;
    margin: 0;
}

.nav-menu-header h2:hover {
    opacity: 0.6;
}

.nav-menu-header .products:active {
    opacity: 0.3;
}

.catalog-header {
    width: 350px;
    margin-left: 0;
    margin-right: 191px;
    position: relative;
}

.catalog-header::after {
    content: "";
    width: 16px;
    height: 16px;
    background-color: transparent;
    background-image: url("./../img/plus.svg");
    opacity: 0.3;
    position: absolute;
    top: 36%;
    right: 102px;
    z-index: 10;
}

.catalog-header::after:hover {
    opacity: 0.6;
}

.delivery-header {
    width: 158px;
}

.warranty-header {
    width: 120px;
}

.contacts-header {
    text-align: right;
    width: 120px;
    margin-left: auto;
    margin-right: 0;
    padding-right: 0;
}

.hidden-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    position: absolute;
    top: 40px;
    left: -60px;
    width: 1160px;
    background-color: rgb(247, 226, 150);
    z-index: 100;
    display: none;
    padding-bottom: 12px;
    padding-top: 14px;
}

.catalog-header a:hover + .hidden-menu,
.catalog-header a:focus + .hidden-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hidden-menu ul {
    list-style: none;
    margin-left: 0;
    margin-right: 40px;
    padding-left: 0;
    width: 160px;
}

.hidden-menu ul:first-child {
    width: 200px;
    margin-left: 60px;
}

.hidden-menu a:hover {
    opacity: 0.6;
}

.hidden-menu a:active {
    opacity: 0.3;
}

.shift-container {
    overflow: hidden;
}

.flex-slider-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-image: -webkit-linear-gradient(bottom, rgb(255, 255, 255) 481px, rgb(247, 226, 150) 481px);
    background-image: -o-linear-gradient(bottom, rgb(255, 255, 255) 481px, rgb(247, 226, 150) 481px);
    background-image: linear-gradient(to top, rgb(255, 255, 255) 481px, rgb(247, 226, 150) 481px);
    width: 3480px;
    height: 595px;
}

.flex-slider-1 h2 {
    letter-spacing: 0.8px;
    word-spacing: -5px;
    line-height: 57px;
    margin-bottom: 0;
}

.slider-shifter {
    position: relative;
}

.slider-shifter input[type=radio] {
    display: none;
}

.slider-controls label {
    display: inline-block;
    width: 10px;
    height: 10px;
    padding-right: 0 17px;
    border: 1px solid black;
    opacity: 0.3;
    border-radius: 50%;
    cursor: pointer;
    z-index: 11;
    position: absolute;
    opacity: 1;
    vertical-align: middle;
}

.slider-controls label:first-child {
    top: 331px;
    left: 1020px;
}

.slider-controls label:nth-child(2) {
    top: 331px;
    left: 1053px;
}

.slider-controls label:last-child {
    top: 331px;
    left: 1086px;
}

.flex-slider-1 article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1160px;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"]::before,
#btn-2:checked ~ .slider-controls label[for="btn-2"]::before,
#btn-3:checked ~ .slider-controls label[for="btn-3"]::before {
    position: absolute;
    content: '';
    border-radius: 50%;
    border: 1px solid black;
    width: 2px;
    height: 2px;
    top: 3px;
    left: 3px;
}

#btn-1:checked ~.shift-container .flex-slider-1 {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
}

#btn-2:checked ~.shift-container .flex-slider-1 {
    -webkit-transform: translate(-1160px);
    -ms-transform: translate(-1160px);
    transform: translate(-1160px);
}

#btn-3:checked ~.shift-container .flex-slider-1 {
    -webkit-transform: translate(-2320px);
    -ms-transform: translate(-2320px);
    transform: translate(-2320px);
}

.flex-slider-1 .promo-1 img {
    margin-left: 91px;
    margin-top: 4px;
    margin-right: 125px;
    z-index: 400;
}

.flex-slider-1 .promo-2 img {
    margin-left: 120px;
    margin-top: 15px;
    margin-right: 135px;
}

.flex-slider-1 .promo-3 img {
    margin-left: 30px;
    margin-top: 68px;
    margin-right: 44px;
}

.flex-slider-1 .artic-text {
    margin-right: 0px;
    padding-right: 0;
    padding-top: 43px;
    width: 510px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
}

.flex-slider-1 .artic-text::before {
    content: "";
    width: 100px;
    height: 7px;
    position: absolute;
    background-color: white;
    top: 40px;
    left: 1px;
}

.promo-1 h2 {
    width: 450px;
}

.promo-2 h2 {
    width: 300px;
}

.promo-3 h2 {
    width: 550px;
}

.promo-1 .artic-text::after {
    content: "01";
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 179px;
    position: absolute;
    left: 330px;
    top: 65px;
    color: white;
    z-index: -10;
}

.promo-2 .artic-text::after {
    content: "02";
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 179px;
    position: absolute;
    left: 330px;
    top: 65px;
    color: white;
    z-index: -10;
}

.promo-3 .artic-text::after {
    content: "03";
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 179px;
    position: absolute;
    left: 330px;
    top: 65px;
    color: white;
    z-index: -10;
}

.artic-text p {
    margin-bottom: 46px;
    margin-top: 19px;
    word-spacing: 1px;
    width: 480px;
    line-height: 30px;
}

.promo-2 p,
.promo-3 p {
    width: 450px;
}

.flex-slider-1 .details {
    height: 40px;
    width: 220px;
    text-align: center;
    margin-left: 2px;
    position: relative;
    margin-bottom: 44px;
}

.flex-slider-1 .details::before {
    content: "";
    position: absolute;
    width: 220px;
    height: 8px;
    background-color: rgb(240, 197, 46);
    top: 12px;
    left: 0;
    z-index: -10;
}

.flex-slider-1 .details:hover::before {
    content: "";
    position: absolute;
    width: 220px;
    height: 40px;
    background-color: rgb(240, 197, 46);
    top: -4px;
    left: 0;
    z-index: -10;
}

.details a {
    text-decoration: none;
    width: 220px;
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 18px;
    color: black;
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 3.5px;
    vertical-align: middle;
    display: inline-block;
}

.details a:active {
    opacity: 0.3;
}

.article-options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    font-family: 'Open Sans', 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    width: 460px;
    margin: 0;
    padding: 0;
    letter-spacing: 0.1px;
}

.article-options div {
    width: 140px;
}

.article-options div:first-child {
    width: 160px;
}

.article-options p {
    font-family: 'Gilroy-300', 'Arial', sans-serif;
    font-size: 36px;
    color: black;
    font-weight: 300;
    font-style: normal;
    line-height: 55px;
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
}

.catalog-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    list-style: none;
}

.catalog-flex p {
    text-decoration: none;
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: black;
    font-weight: 800;
    font-style: normal;
    letter-spacing: 0.4px;
    width: 160px;
}

.catalog-flex .catalog-image {
    width: 160px;
    height: 160px;
    background-color: rgb(247, 226, 150);
    text-align: center;
    margin-bottom: 36px;
    position: relative;
}

.catalog-flex li:hover .catalog-image {
    background-color: rgb(240, 197, 46);
}

.catalog-flex li:active img,
.catalog-flex li:active p {
    opacity: 0.3;
}

.catalog-flex img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.catalog-flex li:nth-child(2) img {
    top: 63%;
    left: 51%;
}

.catalog-flex li:nth-child(3) img {
    top: 51%;
    left: 53%;
}

.catalog-flex li:nth-child(4) img {
    top: 52%;
    left: 52%;
}

.catalog-flex li:nth-child(5) img {
    top: 51%;
    left: 52%;
}

.catalog-flex li:nth-child(6) img {
    top: 53%;
    left: 50%;
}

.slider-background {
    background-image: -webkit-linear-gradient(top, rgb(255, 255, 255) 168px, rgb(229, 229, 229) 168px, rgb(229, 229, 229) 456px, rgb(255, 255, 255) 456px );
    background-image: -o-linear-gradient(top, rgb(255, 255, 255) 168px, rgb(229, 229, 229) 168px, rgb(229, 229, 229) 456px, rgb(255, 255, 255) 456px );
    background-image: linear-gradient(to bottom, rgb(255, 255, 255) 168px, rgb(229, 229, 229) 168px, rgb(229, 229, 229) 456px, rgb(255, 255, 255) 456px );
}

.slider-shifter-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    background-image: -webkit-linear-gradient(top, rgb(255, 255, 255) 168px, rgb(229, 229, 229) 168px, rgb(229, 229, 229) 456px, rgb(255, 255, 255) 456px );
    background-image: -o-linear-gradient(top, rgb(255, 255, 255) 168px, rgb(229, 229, 229) 168px, rgb(229, 229, 229) 456px, rgb(255, 255, 255) 456px );
    background-image: linear-gradient(to bottom, rgb(255, 255, 255) 168px, rgb(229, 229, 229) 168px, rgb(229, 229, 229) 456px, rgb(255, 255, 255) 456px );
    padding: 56px 0px 135px 0px;
    position: relative;
}

.slider-controls-2 {
    width: 280px;
    padding-top: 58px;
    position: relative;
}

.slider-controls-2 ul {
    list-style: none;
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 18px;
    color: black;
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 3.5px;
    padding-left: 2px;
    padding-top: 20px;
}

.slider-controls-2 li {
    margin-bottom: 25px;
    width: 160px;
    height: 40px;
    text-align: center;
    position: relative;
    vertical-align: middle;
}

.slider-shifter-2 input[type=radio] {
    display: none;
}

.shift-container-2 {
    overflow: hidden;
    width: 880px;
}

.flex-slider-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 2640px;
}

.flex-slider-2 div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 880px;
    height: 320px;
    padding-left: 120px;
    padding-top: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.slider-controls-2 label {
    position: relative;
}

#btn-11:checked ~ .slider-controls-2 label[for="btn-11"],
#btn-12:checked ~ .slider-controls-2 label[for="btn-12"],
#btn-13:checked ~ .slider-controls-2 label[for="btn-13"] {
    color: rgb(236, 215, 126);
}

.slider-controls-2 li::before {
    content: "";
    width: 160px;
    height: 8px;
    background-color: rgb(240, 197, 46);
    position: absolute;
    top: 11px;
    left: -2px;
}

.slider-controls-2 label:hover,
.slider-controls-2 li:hover {
    cursor: pointer;
}

.slider-controls-2 li:hover::before {
    content: "";
    width: 160px;
    height: 40px;
    background-color: rgb(240, 197, 46);
    position: absolute;
    top: -3px;
    left: -2px;
}

#btn-11:checked ~ .slider-controls-2 li:first-child::before,
#btn-12:checked ~ .slider-controls-2 li:nth-child(2)::before,
#btn-13:checked ~ .slider-controls-2 li:last-child::before {
    content: "";
    width: 280px;
    height: 40px;
    background-color: black;
    position: absolute;
    top: -3px;
    left: -2px;
}

.slider-controls-2::after {
    content: "";
    width: 7px;
    height: 320px;
    background-color: black;
    position: absolute;
    top: 12px;
    right: -5px;
}

.shift-container-2 h2 {
    letter-spacing: 1.1px;
    padding: 0;
    margin: 0;
    padding-top: 38px;
    padding-left: 2px;
    padding-bottom: 12px;
}

.shift-container-2 p {
    letter-spacing: 0.3px;
    width: 445px;
    line-height: 30px;
}

.shift-container-2 img {
    margin-top: 57px;
    margin-left: 48px;
}

#btn-11:checked ~.shift-container-2 .flex-slider-2 {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
}

#btn-12:checked ~.shift-container-2 .flex-slider-2 {
    -webkit-transform: translate(-880px);
    -ms-transform: translate(-880px);
    transform: translate(-880px);
}

#btn-13:checked ~.shift-container-2 .flex-slider-2 {
    -webkit-transform: translate(-1760px);
    -ms-transform: translate(-1760px);
    transform: translate(-1760px);
}

.firms {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 98px;
}

.firms a {
    display: inline-block;
    width: 260px;
    height: 100px;
    font-size: 0;
    background-image: url("./../img/sprites.png");
    vertical-align: middle;
}

.firms a:hover {
    background-position: -298px 0;
}

.firms a:nth-child(2) {
    background-position: 0 -149px;
}

.firms a:nth-child(2):hover {
    background-position: -298px -148px;
}

.firms a:nth-child(3) {
    background-position: 0 -297px;
}

.firms a:nth-child(3):hover {
    background-position: -297px -298px;
}

.firms a:nth-child(4) {
    background-position: 0 -447px;
}

.firms a:nth-child(4):hover {
    background-position: -297px -446px;
}

.about-and-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 79px;
}

.about-and-contacts h2 {
    padding: 0;
    margin: 0;
    word-spacing: -6px;
    letter-spacing: 1px;
    padding-top: 40px;
    padding-bottom: 23px;
}

.about-and-contacts .about-us {
    width: 520px;
}

.about-us,
.contacts {
    position: relative;
}

.about-us p {
    padding-bottom: 15px;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.1px;
}

.about-us p:first-of-type {
    width: 450px;
}

.about-us p:last-of-type {
    width: 480px;
}

.about-us ul {
    list-style: none;
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: 800;
    font-style: normal;
    padding-top: 41px;
    padding-left: 37px;
    padding-bottom: 0px;
}

.about-us li {
    margin-bottom: 10px;
    position: relative;
}

.about-us li::before {
    content: "";
    width: 4px;
    height: 4px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 50%;
    opacity: 0.3;
    z-index: 11;
    position: absolute;
    top: 10px;
    left: -35px;
}

.contacts p {
    padding-left: 2px;
    padding-bottom: 14px;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.1px;
}

.about-us::before {
    content: "";
    width: 80px;
    height: 7px;
    background-color: black;
    position: absolute;
    top: -6px;
    left: 1px;
}

.contacts::before {
    content: "";
    width: 80px;
    height: 7px;
    background-color: black;
    position: absolute;
    top: -6px;
    left: 81px;
}

.about-and-contacts .about-more {
    height: 40px;
    width: 260px;
    text-align: center;
    position: relative;
    margin-top: 64px;
    z-index: 2;
}

.about-and-contacts .about-more::before {
    content: "";
    position: absolute;
    width: 260px;
    height: 8px;
    background-color: rgb(240, 197, 46);
    top: 12px;
    left: 0;
    z-index: -10;
}

.about-and-contacts a {
    text-decoration: none;
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 3.5px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 6px;
}

.about-and-contacts .about-more:hover::before {
    content: "";
    position: absolute;
    width: 260px;
    height: 40px;
    background-color: rgb(240, 197, 46);
    top: -5px;
    left: 0;
    z-index: -10;
}

.about-more a:active {
    opacity: 0.3;
}

.about-and-contacts .contacts {
    width: 560px;
    padding-left: 78px;
}

.contacts img {
    padding: 0;
    margin: 0;
    padding-top: 10px;
}

.contacts .about-more {
    margin-left: 3px;
}

.write-now {
    padding-right: 4px;
}

.page-footer {
    background-color: rgb(70, 70, 70);
}

.page-footer a {
    text-decoration: none;
    color: inherit;
}

.flex-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: white;
    width: 1160px;
    margin: 0 auto;
    padding: 65px 0;
    padding-top: 62px;
    position: relative;
}

.logo-functions,
.nav-menu-adress,
.nav-menu-footer,
.functions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.logo {
    width: 200px;
}

.functions {
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin-bottom: 20px;
}

.foot-btn {
    width: 85px;
    opacity: 0.6;
    margin-left: 21px;
    position: relative;
}

.foot-btn:hover {
    opacity: 1;
}

.enter-f::before {
    background: url("./../img/user-f.png") no-repeat;
}

.compare-f::before {
    background: url("./../img/compare-f.png") no-repeat;
}

.bucket-f::before {
    background: url("./../img/cart-f.png") no-repeat;
}

.enter-f::before,
.compare-f::before,
.bucket-f::before {
    top: 10px;
    left: -20px;
}

.enter-f::before {
    left: -27px;
}

.bucket-f::before {
    left: 3px;
    top: 9px;
}

.nav-menu-footer {
    padding-top: 5px;
}

.nav-menu-adress {
    padding-top: 4px;
}

.nav-menu-footer div {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: white;
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 3.5px;
    margin-right: 34px;
}

.nav-menu-footer div:hover,
.academy:hover,
.friends a:hover {
    opacity: 0.6;
}

.nav-menu-footer div:active,
.academy:active,
.foot-btn:active {
    opacity: 0.3;
}

.friends-home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 45px;
}

.friends::after {
    content: "";
    width: 80px;
    height: 8px;
    background-color: rgb(255, 198, 0);
    position: absolute;
    right: 589px;
    bottom: 25px;
}

.friends {
    margin: auto;
    padding-left: 47px;
    padding-top: 2px;
    position: relative;
}

.friends a {
    margin-right: 19px;
    opacity: 0.3;
    font-size: 0;
}

.friends a:active {
    opacity: 0.1;
}

.academy {
    padding-top: 2px;
}

.modal-content-map {
    position: fixed;
    top: 15%;
    left: 19%;
    display: none;
    width: 994px;
    height: 593px;
    background: url("./../img/map-big.jpg") no-repeat;
    background-size: cover;
    -webkit-box-shadow: 0 10px 20px rgba(70, 70, 70, 0.5);
    box-shadow: 0 10px 20px rgba(70, 70, 70, 0.5);
    z-index: 150;
}

.open-map {
    cursor: pointer;
}

.modal-content-show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.modal-content-show-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.modal-content-close {
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 0;
    background: url("./../img/modal-close.svg") no-repeat center;
    border: 0;
    cursor: pointer;
    opacity: 0.5;
}

.modal-content-close:hover {
    opacity: 1;
}

.modal-content-close:active {
    opacity: 0.3;
}

.letter-form {
    width: 960px;
    height: 554px;
    position: fixed;
    z-index: 20;
    top: 15%;
    left: 19%;
}

.modal-content-hide {
    display: none;
}

.write-us {
    width: 760px;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0 10px 20px rgba(70, 70, 70, 0.5);
    box-shadow: 0 10px 20px rgba(70, 70, 70, 0.5);
    z-index: 150;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 100px;
    padding-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.write-us div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.your-user,
.your-mail,
.your-text {
    background-color: rgb(242, 242, 242);
    padding: 0 20px;
    border-color: rgb(240, 197, 46);
    border-width: 2px;
}

.your-text {
    padding: 20px;
    resize: none;
}

.your-user:hover,
.your-mail:hover,
.your-text:hover {
    background-color: rgb(235, 235, 235);
}

.your-user:focus,
.your-mail:focus,
.your-text:focus {
    background-color: rgb(255, 255, 255);
    border-color: rgb(240, 197, 46);
}

.send-btn:hover .your-user:invalid,
.send-btn:hover .your-mail:invalid,
.send-btn:hover .your-text:invalid {
    background-color: rgb(246, 218, 218);
}

.your-user,
.your-mail {
    width: 320px;
    height: 50px;
}

.write-us label {
    text-decoration: none;
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: black;
    font-weight: 800;
    font-style: normal;
    letter-spacing: 1.2px;
}

.first-field {
    margin-bottom: 15px;
}

.third-field {
    margin-bottom: 30px;
    width: 100%;
}

.send-btn {
    border: none;
    background: none;
    text-decoration: none;
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 3.5px;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    height: 40px;
    text-align: center;
    width: 200px;
    margin-bottom: 90px;
    cursor: pointer;
}

.send-btn::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 8px;
    background-color: rgb(240, 197, 46);
    top: 16px;
    left: 0px;
    z-index: -10;
}

.send-btn:hover {
    background-color: rgb(240, 197, 46);
}

.send-btn:active span {
    opacity: 0.3;
}

.modal-content-close-2 {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    font-size: 0;
    background: url("./../img/modal-close.svg") no-repeat center;
    opacity: 0.5;
    border: 0;
    cursor: pointer;
    z-index: 200;
}

.modal-content-close-2:hover {
    opacity: 1;
}

.modal-content-close-2:active {
    opacity: 0.3;
}

/*=============Стили второго слайда==================== */

.caption {
    padding: 0;
}

.caption h1 {
    letter-spacing: 0.1px;
    margin-bottom: 0;
    margin-left: 60px;
    padding-top: 1px;
}

.breadcrumbs {
    padding-left: 60px;
    padding-bottom: 43px;
    padding-top: 15px;
    margin: 0;
    font-size: 14px;
}

.breadcrumbs a {
    position: relative;
    padding-right: 35px;
    opacity: 0.3;
    color: inherit;
}

.breadcrumbs a:last-of-type {
    padding-right: 36px;
}

.breadcrumbs a:hover {
    opacity: 0.6
}

.breadcrumbs a:active {
    opacity: 0.1;
}

.breadcrumbs span {
    opacity: 0.3;
}

.breadcrumbs a:first-child::after,
.breadcrumbs a:nth-child(2)::after {
    content: "";
    width: 8px;
    height: 8px;
    background-image: url(.././img/nav-arrow.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 8px;
    right: 11px;
    opacity: 1;
}

.breadcrumbs a:nth-child(2)::after {
    right: 9px;
}

.head-background {
    min-height: 70px;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(33.5%, rgb(220, 220, 220)), color-stop(33.5%, rgb(238, 238, 238)));
    background-image: -webkit-linear-gradient(left, rgb(220, 220, 220) 33.5%, rgb(238, 238, 238) 33.5%);
    background-image: -o-linear-gradient(left, rgb(220, 220, 220) 33.5%, rgb(238, 238, 238) 33.5%);
    background-image: linear-gradient(to right, rgb(220, 220, 220) 33.5%, rgb(238, 238, 238) 33.5%);
}

.head-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 70px;
}

.head-word {
    margin: 0;
    width: 328px;
    position: relative;
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    background-color: rgb(220, 220, 220);
    -ms-flex-item-align: center;
    align-self: center;
    padding: 20px 0;
}

.head-word b {
    padding-left: 60px;
}

.head-word::after {
    content: "";
    width: 201px;
    height: 3px;
    position: absolute;
    background-color: rgb(0, 0, 0);
    top: 137px;
    left: 59px;
    z-index: 10;
}

.head-content .sorting {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-item-align: center;
    align-self: center;
    width: 762px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: rgb(238, 238, 238);
    padding: 20px 0 20px 70px;
}

.sorting b {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 3.5px;
    padding-left: 3px;
}

.sort-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-left: 50px;
}

.sort-type label {
    padding-right: 28px;
    opacity: 0.3;
    font-size: 14px;
    letter-spacing: 0.4px;
    cursor: pointer;
}

.sort-type input[type="radio"]:checked + label {
    opacity: 1;
}

.sort-type label:hover {
    opacity: 0.6;
}

.sort-type label:active {
    opacity: 1;
}

.sort-type a {
    text-decoration: none;
    color: inherit;
}

.sort-type input {
    display: none;
}

.more-less {
    position: relative;
    width: 40px;
}

.more-less label:first-of-type:after {
    content: "";
    position: absolute;
    width: 10px;
    cursor: pointer;
    height: 10px;
    border: 0;
    background-image: url(".././img/icon-up-dir.svg");
    top: 10px;
    left: 0px;
}

.more-less label:last-child:after {
    content: "";
    position: absolute;
    cursor: pointer;
    width: 10px;
    height: 10px;
    border: 0;
    background-image: url(".././img/icon-down-dir.svg");
    top: 10px;
    right: 0px;
}

.more-less label {
    opacity: 0.2;
}

.more-less input[type="radio"]:checked + label {
    opacity: 1;
}

.more-less label:hover {
    opacity: 0.4;
}

.more-less label:active {
    opacity: 1;
}

.more-less input {
    display: none;
}

.flex-main-into {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1160px;
    margin: 0 auto;
    padding: 0
}

.flex-form-into {
    width: 268px;
    padding-right: 0px;
    padding-left: 60px;
    background-color: rgb(235, 235, 235);
    position: relative;
}

.main-background {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(33.5%, rgb(235, 235, 235)), color-stop(33.5%, rgb(255, 255, 255)));
    background-image: -webkit-linear-gradient(left, rgb(235, 235, 235) 33.5%, rgb(255, 255, 255) 33.5%);
    background-image: -o-linear-gradient(left, rgb(235, 235, 235) 33.5%, rgb(255, 255, 255) 33.5%);
    background-image: linear-gradient(to right, rgb(235, 235, 235) 33.5%, rgb(255, 255, 255) 33.5%);
    min-height: 1213px;
}

.price-range {
    padding-top: 61px;
    padding-bottom: 18px;
}

.price-range p {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 18px;
    color: black;
    font-weight: 800;
    font-style: normal;
    position: relative;
    padding-bottom: 13px;
    letter-spacing: 0.1px;
}

.range-controls {
    padding-right: 68px;
    padding-bottom: 4px;
    position: relative;
}

.range-controls .scale {
    height: 2px;
    background: rgb(219, 219, 219);
}

.range-controls .bar {
    width: 60%;
    height: 2px;
    background: rgb(145, 201, 47);
}

.range-controls .toggle {
    position: absolute;
    top: -8px;
    left: -5px;
    cursor: pointer;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    position: absolute;
    background: white;
    -webkit-box-shadow: 0 2px 2px rgb(171, 171, 171);
    box-shadow: 0 2px 2px rgb(171, 171, 171);
    z-index: 10;
}

.range-controls .toggle::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    background-color: rgb(171, 171, 171);
    top: 35%;
    left: 40%;
}

.range-controls .toggle:active {
    width: 23px;
    height: 23px;
    top: -10px;
}

.range-controls .toggle-max {
    left: 107px;
}

.price-controls {
    font-size: 0;
}

.price-controls label {
    font-size: 14px;
    display: inline-block;
    width: 34%;
    opacity: 0.3;
    vertical-align: middle;
}

.price-controls input {
    font-family: 'Open Sans', 'Roboto', sans-serif;
    font-size: 14px;
    width: 8px;
    padding: 8px 0px;
    text-align: center;
    color: black;
    opacity: 0.3;
    border: none;
    background: rgb(235, 235, 235);
}

.max-price input {
    text-align: left;
    width: 35px;
}

.color-type b {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    padding-bottom: 20px;
    letter-spacing: 0.1px;
}

.color-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    min-height: 284px;
    padding-top: 21px;
}

.color-type::before {
    content: "";
    width: 201px;
    height: 3px;
    position: absolute;
    background-color: rgb(0, 0, 0);
    top: 11px;
    left: -1px;
}

.color-type::after {
    content: "";
    width: 201px;
    height: 3px;
    position: absolute;
    background-color: rgb(0, 0, 0);
    top: 296px;
    left: -1px;
}

.color-type input[type="checkbox"] {
    display: none;
}

.color-type label {
    padding-left: 38px;
    position: relative;
    margin-bottom: 10px;
    font-size: 14px;
}

.color-type label::before {
    content: "";
    width: 19px;
    height: 19px;
    position: absolute;
    border: 2px solid black;
    border-radius: 13%;
    top: 3px;
    left: -1px;
    z-index: 15;
}

.color-type label:hover {
    opacity: 0.6;
}

input[type="checkbox"]:checked + label::after {
    content: "";
    width: 27px;
    height: 23px;
    position: absolute;
    background-image: url("./../img/checkbox-on.svg");
    z-index: 20;
    top: 3px;
    left: -1px;
}

input[type="checkbox"]:checked + label::before {
    border: none;
}

.blue-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 126px;
}

.blue-type b {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    padding-bottom: 20px;
    padding-top: 1px;
}

.blue-type input[type=radio] {
    display: none;
}

.blue-type div {
    padding-left: 37px;
    position: relative;
    padding-bottom: 10px;
}

.blue-type label:hover,
.color-type label:hover {
    cursor: pointer;
}

.blue-type label::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    border: 2px solid black;
    top: 2px;
    left: -1px;
}

.blue-type label:hover::after {
    opacity: 0.6;
}

.blue-type input[type="radio"]:checked + label::before {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    border-radius: 50%;
    background-color: black;
    top: 10px;
    left: 7px;
    z-index: 10;
}

.show-it {
    position: relative;
    height: 40px;
    width: 200px;
    text-align: center;
    margin-top: 31px;
    z-index: 2;
}

.show-it a {
    text-decoration: none;
    color: inherit;
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 3.7px;
    vertical-align: middle;
    padding: 5px 0;
    margin-left: 0px;
    display: inline-block;
}

.show-it a:active {
    opacity: 0.3;
}

.show-it::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 8px;
    background-color: rgb(240, 197, 46);
    top: 16px;
    left: 0;
    z-index: -1;
}

.show-it:hover {
    background-color: rgb(240, 197, 46);
}

.flex-sorter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 70px;
    padding-top: 0px;
    margin: 0;
    width: 760px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: white;
}

.stuff-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 48px;
}

.stuff-group article {
    width: 360px;
    position: relative;
}

.stuff-group a {
    text-decoration: none;
    color: inherit;
}

.stuff-group article:hover img {
    opacity: 0.7;
}

article:hover .in-basket {
    visibility: visible;
}

article:hover .add-to {
    visibility: visible;
}

article .name-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    padding-bottom: 25px;
}

.stuff-group article:nth-child(2n) {
    margin-left: 40px;
}

.new-thing::after {
    content: "";
    position: absolute;
    border: 2px solid rgb(191, 191, 191);
    border-radius: 50%;
    top: 52px;
    right: 25px;
    z-index: 100;
    width: 55px;
    height: 55px;
}

.new-thing::before {
    content: "NEW";
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 14px;
    position: absolute;
    color: rgb(191, 191, 191);
    top: 66px;
    right: 38px;
    z-index: 100;
}

.name-price a {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 800;
    font-style: normal;
    width: 260px;
    padding-bottom: 4px;
    letter-spacing: 0.3px;
    word-spacing: -0.2px;
}

.name-2 a {
    width: 180px;
    letter-spacing: 0.4px;
}

.cost {
    font-size: 16px;
    letter-spacing: 0.2px;
}

.stuff-group img {
    padding-bottom: 22px;
    padding-top: 21px;
}

.in-basket {
    position: absolute;
    height: 40px;
    width: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 31px;
    margin-left: -2px;
    z-index: 2;
    top: 31%;
    left: 21%;
    visibility: hidden;
    text-align: center;
}

.in-basket a {
    text-decoration: none;
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 3.5px;
    vertical-align: baseline;
    padding-top: 5px;
    padding-left: 40px;
    display: inline-block;
    text-align: center;
}

.in-basket a:active {
    opacity: 0.3;
}

.in-basket::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 8px;
    background-color: rgb(240, 197, 46);
    top: 15px;
    left: 0px;
    z-index: -1;
}

.in-basket:hover {
    background-color: rgb(240, 197, 46);
}

.add-to {
    position: absolute;
    z-index: 2;
    top: 47%;
    left: 30%;
    visibility: hidden;
}

.add-to a {
    font-family: 'Open Sans', 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 300;
    opacity: 0.5;
}

.add-to a:hover {
    opacity: 1;
}

.add-to a:active {
    opacity: 0.2;
}

.navigator {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 70px;
    margin-top: 10px;
    background-color: rgb(235, 235, 235);
    width: 760px;
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 75px;
}

.navigator div {
    padding-top: 22px;
    width: 120px;
    padding-left: 7px;
    text-align: center;
}

.navigator a {
    text-decoration: none;
    color: inherit;
}

.navigator div:nth-child(2) {
    padding-left: 29px;
}

.navigator div:nth-child(3) {
    padding-right: 4px;
}

.pages a {
    margin-right: 18px;
    opacity: 0.3;
}

.pages a:first-child {
    opacity: 1;
}

.pages a:hover {
    opacity: 0.6;
}

.pages a:active {
    opacity: 1;
}

.backward:active,
.forward:active {
    opacity: 0.3;
}

.backward:hover,
.forward:hover {
    cursor: pointer;
    background-color: rgb(217, 217, 217);
}
