@font-face {
  font-family: 'Gilroy-300';
  src: url('./../fonts/gilroy-300-normal.woff2') format('woff2'), url('./../fonts/gilroy-300-normal.woff') format('woff'), url('./../fonts/gilroy-300-normal.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./../fonts/gilroy-800-normal.woff2') format('woff2'), url('./../fonts/gilroy-800-normal.woff') format('woff'), url('./../fonts/gilroy-800-normal.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

body {
  font-family: 'Open Sans', 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 30px;
  min-width: 1200px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  background-color: white;
}

body h1,
body h2 {
  font-family: 'Gilroy', sans-serif;
  font-size: 47px;
  line-height: 60px;
  color: black;
  font-weight: 800;
  font-style: normal;
}

main {
  background-color: white;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
  color:inherit;
}

.page-header {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 60px;
  padding-right: 60px;
  background-image:-webkit-linear-gradient(top, rgb(255, 255, 255) 40px, rgb(247, 226, 150) 40px);
  background-image:-o-linear-gradient(top, rgb(255, 255, 255) 40px, rgb(247, 226, 150) 40px);
  background-image:linear-gradient(to bottom, rgb(255, 255, 255) 40px, rgb(247, 226, 150) 40px);
  position: relative;
  font-size: 15px;
  line-height: 36px;
}

.page-header .logo {
  margin-bottom:11px;
  margin-top:21px;
  margin-left: 0;
}

.logo:hover {
  opacity: 0.6;
}

.logo:active {
  opacity: 0.3;
}

.searcher-and-functions {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  margin-bottom: 15px;
}

.searcher {
  width:430px;
  margin-right:71px;
  padding-left: 40px;
  position: relative;
}

.searcher::before {
  content: "";
  position: absolute;
  top:11px;
  left:3px;
  background: url("./../img/search.png") no-repeat;
  width: 16px;
  height: 16px;
}

.searcher input {
  background-color: inherit;
  border:none;
  opacity: 0.3;
  margin-right: 156px;
  vertical-align: middle;
  font-size: 15px;
  line-height: 36px;
}

.searcher input:hover {
  opacity: 0.6;
}

.searcher input:focus {
  opacity: 1;
  outline: 0;
}

.searcher input:focus + label {
  display:inline-block;
}

.searcher input:focus + label::before {
  content: "";
  width:441px;
  height:2px;
  background-color: black;
  position:absolute;
  top:36px;
  left:0;
}

.searcher label {
  outline:2px solid black;
  display:none;
  width: 75px;
  text-align: center;
}

.searcher label:hover {
  background-color: black;
  color:white;
  display:inline-block;
}

.searcher label:active {
  color: gray;
}

.searcher label:active::after {
  content: "";
  width:441px;
  height:2px;
  background-color: black;
  position:absolute;
  top:36px;
  left:0;
}

.head-btn {
  width:100px;
  position: relative;
}

.head-btn a {
  padding-left: 27px;
}

.head-btn:hover {
  opacity: 0.6;
}

.head-btn:active {
  opacity: 0.3;
}

.user {
  min-width:160px;
}

.enter {
  margin-right:180px;
}

.enter::before,
.user::before,
.enter-f::before {
  content: "";
  position: absolute;
  top:11px;
  left:3px;
  background: url("./../img/user.png") no-repeat;
  width: 13px;
  height:12px;
}

.exit {
  margin-right: 28px;
}

.exit a {
  opacity: 0.3;
}

.compare{
  margin-right:20px;
}

.compare::before,
.compare-f::before {
  content: "";
  position: absolute;
  top:14px;
  left:7px;
  background: url("./../img/compare.png") no-repeat;
  width: 10px;
  height:10px;
}

.bucket,
.bucket-f {
  text-align: right;
}

.bucket::before,
.bucket-f::before {
  content: "";
  position: absolute;
  top:12px;
  left:18px;
  background: url("./../img/cart.png") no-repeat;
  width: 12px;
  height:12px;
}

.nav-menu-header {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  margin-bottom: 30px;
}

.nav-menu-header h2 {
  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  color: black;
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  padding: 0;
  margin: 0;
}

.nav-menu-header h2:hover {
  opacity: 0.6;
}

.nav-menu-header .products:active {
  opacity: 0.3;
}

.catalog-header {
  width:350px;
  margin-left:0;
  margin-right: 191px;
  position: relative;
}

.catalog-header::after {
  content: "";
  width:16px;
  height:16px;
  background-color: transparent;
  background-image: url("./../img/plus.png");
  position: absolute;
  top:36%;
  right:102px;
  z-index: 10;
}

.catalog-header::after:hover {
  opacity: 0.6;
}

.delivery-header {
  width:158px;
}

.warranty-header {
  width: 120px;
}

.contacts-header {
  text-align: right;
  width: 120px;
  margin-left: auto;
  margin-right: 0;
  padding-right: 0;
}

.hidden-menu {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  position:absolute;
  top: 40px;
  left: -60px;
  width: 1160px;
  background-color: rgb(247, 226, 150);
  z-index: 100;
  display: none;
  padding-bottom: 13px;
  padding-top: 13px;
}

.hidden-menu ul {
  list-style: none;
  margin-left: 0;
  margin-right: 40px;
  padding-left: 0;
  width: 160px;
}

.hidden-menu ul:first-child {
  width:200px;
  margin-left: 60px;
}

.hidden-menu a:hover {
  opacity: 0.6;
}

.hidden-menu a:active {
  opacity: 0.3;
}

.catalog-header:hover .hidden-menu {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
}

.shift-container {
  overflow: hidden;
}

.flex-slider-1 {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  background-image:-webkit-linear-gradient(bottom, rgb(255, 255, 255) 481px, rgb(247, 226, 150) 481px);
  background-image:-o-linear-gradient(bottom, rgb(255, 255, 255) 481px, rgb(247, 226, 150) 481px);
  background-image:linear-gradient(to top, rgb(255, 255, 255) 481px, rgb(247, 226, 150) 481px);
  width:3480px;
  height: 595px;
}

.flex-slider-1 h2 {
  letter-spacing: 0.8px;
  word-spacing: -5px;
  line-height: 57px;
  margin-bottom:0;
}

.slider-shifter {
  position: relative;
}

.slider-shifter input[type=radio] {
  display: none;
}

.slider-controls label {
  display: inline-block;
  width: 10px;
  height: 10px;
  padding-right: 0 17px;
  border: 1px solid black;
  opacity: 0.3;
  border-radius: 50%;
  cursor: pointer;
  z-index: 11;
  position: absolute;
  opacity: 1;
}

.slider-controls label:first-child{
  top: 331px;
  left: 1020px;
}

.slider-controls label:nth-child(2){
  top: 331px;
  left: 1053px;
}

.slider-controls label:last-child{
  top: 331px;
  left: 1086px;
}

.flex-slider-1 article {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  width:1160px;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"]::before,
#btn-2:checked ~ .slider-controls label[for="btn-2"]::before,
#btn-3:checked ~ .slider-controls label[for="btn-3"]::before {
  position: absolute;
  content: '';
  border-radius: 50%;
  border: 1px solid black;
  width: 2px;
  height: 2px;
  top: 3px;
  left: 3px;
}

#btn-1:checked ~.shift-container .flex-slider-1 {
  -webkit-transform:translate(0);
      -ms-transform:translate(0);
          transform:translate(0);
}

#btn-2:checked ~.shift-container .flex-slider-1 {
  -webkit-transform:translate(-1160px);
      -ms-transform:translate(-1160px);
          transform:translate(-1160px);
}

#btn-3:checked ~.shift-container .flex-slider-1 {
  -webkit-transform:translate(-2320px);
      -ms-transform:translate(-2320px);
          transform:translate(-2320px);
}

.flex-slider-1 .promo-1 img {
  margin-left:91px;
  margin-top: 4px;
  margin-right: 125px;
}

.flex-slider-1 .promo-2 img {
  margin-left:120px;
  margin-top: 15px;
  margin-right: 135px;
}

.flex-slider-1 .promo-3 img {
  margin-left: 30px;
  margin-top: 68px;
  margin-right: 44px;
}

.flex-slider-1 .artic-text {
  margin-right: 0px;
  padding-right: 0;
  padding-top: 43px;
  width: 510px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.flex-slider-1 .artic-text::before {
  content: "";
  width: 100px;
  height: 7px;
  position: absolute;
  background-color: white;
  top:40px;
  left:1px;
}

.promo-1 .artic-text::after {
  content: "01";
  font-family: 'Gilroy', sans-serif;
  font-size: 179px;
  position: absolute;
  left: 330px;
  top:65px;
  color: white;
  z-index: -10;
}

.promo-2 .artic-text::after {
  content: "02";
  font-family: 'Gilroy', sans-serif;
  font-size: 179px;
  position: absolute;
  left: 330px;
  top:65px;
  color: white;
  z-index: -10;
}

.promo-3 .artic-text::after {
  content: "03";
  font-family: 'Gilroy', sans-serif;
  font-size: 179px;
  position: absolute;
  left: 330px;
  top:65px;
  color: white;
  z-index: -10;
}

.artic-text p {
  margin-bottom: 40px;
  margin-top: 19px;
  word-spacing: 1px;
  width:450px;
  line-height: 30px;
}

.flex-slider-1 .details {
  height:40px;
  width:220px;
  text-align: center;
  margin-left: 2px;
  position:relative;
  margin-bottom: 50px;
}

.flex-slider-1 .details::before {
  content:"";
  position: absolute;
  width:220px;
  height: 8px;
  background-color: rgb(240, 197, 46);
  top:13px;
  left:0;
  z-index: -10;
}

.flex-slider-1 .details:hover::before {
  content:"";
  position: absolute;
  width: 220px;
  height: 40px;
  background-color: rgb(240, 197, 46);
  top: -4px;
  left: 0;
  z-index: -10;
}

.details a {
  text-decoration: none;
  width:220px;
  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  color: black;
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  vertical-align: middle;
  display: inline-block;
}

.details a:active {
  opacity: 0.3;
}

.article-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-family: 'Open Sans', 'Roboto', sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  width: 460px;
  margin:0;
  padding:0;
}

.article-options div {
  width:140px;
}

.article-options div:first-child {
  width:160px;
}

.article-options p {
  font-family: 'Gilroy', sans-serif;
  font-size: 36px;
  color: black;
  font-weight: 300;
  font-style:normal;
  line-height: 55px;
  margin:0;
  padding:0;
  padding-bottom: 5px;
}

.catalog-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.catalog-flex p {
  text-decoration: none;
  font-family: 'Gilroy', sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: black;
  font-weight: 800;
  font-style: normal;
  letter-spacing: 1.2px;
  width:160px;
}

.catalog-flex .catalog-image {
  width:160px;
  height:160px;
  background-color: rgb(247, 226, 150);
  text-align: center;
  margin-bottom: 36px;
  position:relative;
}

.catalog-flex li:hover .catalog-image {
  background-color: rgb(240, 197, 46);
}

.catalog-flex li:active img,
.catalog-flex li:active p {
  opacity:0.3;
}

.catalog-flex img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.catalog-flex li:nth-child(2) img {
  top: 63%;
}

.slider-background {
  background-image: -webkit-linear-gradient(top, rgb(255, 255, 255) 168px, rgb(229, 229, 229) 168px, rgb(229, 229, 229) 456px, rgb(255, 255, 255) 456px );
  background-image: -o-linear-gradient(top, rgb(255, 255, 255) 168px, rgb(229, 229, 229) 168px, rgb(229, 229, 229) 456px, rgb(255, 255, 255) 456px );
  background-image: linear-gradient(to bottom, rgb(255, 255, 255) 168px, rgb(229, 229, 229) 168px, rgb(229, 229, 229) 456px, rgb(255, 255, 255) 456px );
}

.slider-shifter-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  background-image: -webkit-linear-gradient(top, rgb(255, 255, 255) 168px, rgb(229, 229, 229) 168px, rgb(229, 229, 229) 456px, rgb(255, 255, 255) 456px );
  background-image: -o-linear-gradient(top, rgb(255, 255, 255) 168px, rgb(229, 229, 229) 168px, rgb(229, 229, 229) 456px, rgb(255, 255, 255) 456px );
  background-image: linear-gradient(to bottom, rgb(255, 255, 255) 168px, rgb(229, 229, 229) 168px, rgb(229, 229, 229) 456px, rgb(255, 255, 255) 456px );
  padding: 56px 0px 135px 0px;
  position: relative;
}

.slider-controls-2 {
  width:280px;
  padding-top: 58px;
  position: relative;
}

.slider-controls-2 ul {
  list-style: none;
  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  color: black;
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  padding-left: 2px;
  padding-top: 20px;
}

.slider-controls-2 li {
  margin-bottom: 25px;
  width:160px;
  height:40px;
  text-align: center;
  position: relative;
  vertical-align: middle;
}

.slider-shifter-2 input[type=radio] {
  display: none;
}

.shift-container-2 {
  overflow: hidden;
  width:880px;
}

.flex-slider-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width:2640px;
}

.flex-slider-2 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width:880px;
  height:320px;
  padding-left: 120px;
  padding-top: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }

.slider-controls-2 label {
  position: relative;
}

#btn-11:checked ~ .slider-controls-2 label[for="btn-11"],
#btn-12:checked ~ .slider-controls-2 label[for="btn-12"],
#btn-13:checked ~ .slider-controls-2 label[for="btn-13"] {
  color: rgb(236, 215, 126);

}

.slider-controls-2 li::before {
  content: "";
  width:160px;
  height:8px;
  background-color: rgb(240, 197, 46);
  position: absolute;
  top:14px;
  left:-2px;
}

.slider-controls-2 label:hover,
.slider-controls-2 li:hover {
  cursor: pointer;
}

.slider-controls-2 li:hover::before {
  content: "";
  width:160px;
  height:40px;
  background-color: rgb(240, 197, 46);
  position: absolute;
  top:-3px;
  left:-2px;
}

#btn-11:checked ~ .slider-controls-2 li:first-child::before,
#btn-12:checked ~ .slider-controls-2 li:nth-child(2)::before,
#btn-13:checked ~ .slider-controls-2 li:last-child::before {
  content: "";
  width:280px;
  height:40px;
  background-color: black;
  position: absolute;
  top:-3px;
  left:-2px;
}

.slider-controls-2::after {
  content: "";
  width:7px;
  height:320px;
  background-color: black;
  position: absolute;
  top:12px;
  right:-5px;
}

.shift-container-2 h2 {
  letter-spacing: 1.1px;
  padding:0;
  margin:0;
  padding-top: 38px;
  padding-left: 2px;
  padding-bottom: 12px;
}

.shift-container-2 p {
  letter-spacing: 0.3px;
  width: 400px;
  line-height: 30px;
}

.shift-container-2 img {
  margin-top: 57px;
  margin-left: 93px;
}

#btn-11:checked ~.shift-container-2 .flex-slider-2 {
  -webkit-transform:translate(0);
      -ms-transform:translate(0);
          transform:translate(0);
}

#btn-12:checked ~.shift-container-2 .flex-slider-2 {
  -webkit-transform:translate(-880px);
      -ms-transform:translate(-880px);
          transform:translate(-880px);
}

#btn-13:checked ~.shift-container-2 .flex-slider-2 {
  -webkit-transform:translate(-1760px);
      -ms-transform:translate(-1760px);
          transform:translate(-1760px);
}

.firms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 98px;
}

.firms a {
  display: inline-block;
  width: 260px;
  height: 100px;
  font-size: 0;
  background-image:url("./../img/sprites.png");
}

.firms a:hover {
  background-position: -298px 0;
}

.firms a:nth-child(2) {
  background-position: 0 -149px;
}

.firms a:nth-child(2):hover {
  background-position: -298px -148px;
}

.firms a:nth-child(3) {
  background-position: 0 -297px;
}

.firms a:nth-child(3):hover {
  background-position: -297px -298px;
}

.firms a:nth-child(4) {
  background-position: 0 -447px;
}

.firms a:nth-child(4):hover {
  background-position: -297px -446px;
}

.about-and-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 78px;
}

.about-and-contacts h2 {
  padding: 0;
  margin: 0;
  word-spacing: -6px;
  letter-spacing: 1px;
  padding-top: 40px;
  padding-bottom: 22px;
}

.about-and-contacts .about-us {
  width:520px;
}

.about-us,
.contacts {
  position: relative;
}

.about-and-contacts p {
  padding-bottom: 15px;
  font-size: 15px;
  line-height: 30px;
}

.about-us ul {
  list-style: none;
  font-family: 'Gilroy', sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 800;
  font-style: normal;
  padding-top: 42px;
  padding-left: 37px;
}

.about-us li {
  margin-bottom: 10px;
  position: relative;
}

.about-us li::before {
  content: "";
  width: 4px;
  height: 4px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 50%;
  opacity: 0.3;
  z-index: 11;
  position: absolute;
  top:10px;
  left:-35px;
}

.contacts p {
  padding-left: 2px;
}

.about-us::before {
  content: "";
  width:80px;
  height: 7px;
  background-color: black;
  position: absolute;
  top:-6px;
  left:1px;
}

.contacts::before {
  content: "";
  width:80px;
  height: 7px;
  background-color: black;
  position: absolute;
  top:-6px;
  left:81px;
}

.about-and-contacts .about-more {
  height:40px;
  width:260px;
  text-align: center;
  position: relative;
  margin-top: 60px;
  z-index: 2;
}

.about-and-contacts .about-more::before {
  content:"";
  position: absolute;
  width: 260px;
  height: 8px;
  background-color: rgb(240, 197, 46);
  top: 10px;
  left: 0;
  z-index: -10;
}

.about-and-contacts a {
  text-decoration: none;
  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  display: inline-block;
  vertical-align: center;
  margin-left: 6px;
}

.about-and-contacts .about-more:hover::before {
  content:"";
  position: absolute;
  width: 260px;
  height: 40px;
  background-color: rgb(240, 197, 46);
  top: -5px;
  left: 0;
  z-index: -10;
}

.about-more a:active {
  opacity: 0.3;
}
.about-and-contacts .contacts {
  width: 560px;
  padding-left:78px;
}

.contacts img {
  padding:0;
  margin:0;
  padding-top: 5px;
}

.contacts .about-more {
  margin-left: 3px;
}

.page-footer {
  background-color: rgb(70, 70, 70);
}

.flex-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color:white;
  width: 1160px;
  margin: 0 auto;
  padding: 65px 0;
  position: relative;
}

.logo-functions,
.nav-menu-adress,
.nav-menu-footer,
.functions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  width: 164px;
}

.functions {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 17px;
}

.foot-btn {
  width: 85px;
  opacity: 0.6;
  margin-left: 20px;
  position: relative;
}

.foot-btn:hover {
  opacity: 1;
}

.enter-f::before {
  background: url("./../img/user-f.png") no-repeat;
}

.compare-f::before {
  background: url("./../img/compare-f.png") no-repeat;
}

.bucket-f::before {
  background: url("./../img/cart-f.png") no-repeat;
}

.enter-f::before,
.compare-f::before,
.bucket-f::before {
  top:8px;
  left:-20px;
}

.enter-f::before {
  left: -30px;
}

.bucket-f::before {
  left:5px;
}

.nav-menu-adress,
.nav-menu-footer {
  padding-top: 5px;
}

.nav-menu-footer div{
  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: white;
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  margin-right: 34px;
}

.nav-menu-footer div:hover,
.academy:hover,
.friends a:hover {
  opacity: 0.6;
}

.nav-menu-footer div:active,
.academy:active,
.foot-btn:active {
  opacity: 0.3;
}

.friends-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 45px;
}

.friends::after {
  content: "";
  width:80px;
  height: 8px;
  background-color: rgb(255, 198, 0);
  position: absolute;
  right:585px;
  bottom:25px;
}

.friends {
  margin:auto;
  padding-left: 40px;
  position: relative;
}

.friends a {
  margin-right: 12px;
  opacity: 0.3;
}

.friends a:active {
  opacity: 0.1;
}

.modal-content-map {
  position: fixed;
  top: 15%;
  left: 19%;
  display: none;
  width: 960px;
  height: 560px;
  background: white;
  -webkit-box-shadow: 0 10px 20px rgba(70, 70, 70, 0.5);
          box-shadow: 0 10px 20px rgba(70, 70, 70, 0.5);
  z-index: 150;
}

.open-map {
  cursor: pointer;
}

.modal-content-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-content-show-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-content-close {
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 0;
  background-color: rgb(240, 197, 46);
  border: 0;
  cursor: pointer;
  opacity: 0.5;
}

.modal-content-close:hover {
  opacity: 1;
}

.modal-content-close:active {
  opacity: 0.3;
}

.modal-content-close::before {
  content: "";
  position: absolute;
  width:23px;
  height: 22px;
  top: 27%;
  left: 27%;
  background-color: transparent;
  background-image: url("./../img/modal-close.png");
  z-index: 140;
}

.letter-form {
  width: 960px;
  height: 554px;
  position: fixed;
  z-index: 20;
  top: 15%;
  left: 19%;
}

.modal-content-hide {
  display: none;
}

.write-us {
  width: 760px;
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0 10px 20px rgba(70, 70, 70, 0.5);
          box-shadow: 0 10px 20px rgba(70, 70, 70, 0.5);
  z-index: 150;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 100px;
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.write-us div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.your-user,
.your-mail,
.your-text {
  background-color: rgb(242, 242, 242);
  padding: 0 20px;
  border: 0;
}

.your-text {
  padding: 20px;
  resize: none;
}

.your-user:hover,
.your-mail:hover,
.your-text:hover {
  background-color: rgb(235, 235, 235);
}

.your-user:focus,
.your-mail:focus,
.your-text:focus {
  background-color: rgb(255, 255, 255);
  border-color: rgb(240, 197, 46);
}

.send-btn:hover .your-user:invalid,
.send-btn:hover .your-mail:invalid,
.send-btn:hover .your-text:invalid {
  background-color: rgb(246, 218, 218);
}

.your-user,
.your-mail {
  width: 320px;
  height: 50px;
}

.write-us label {
  text-decoration: none;
  font-family: 'Gilroy', sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: black;
  font-weight: 800;
  font-style: normal;
  letter-spacing: 1.2px;
}

.first-field {
  margin-bottom: 15px;
}

.third-field {
  margin-bottom: 30px;
  width: 100%;
}

.send-btn {
  border: none;
  background: none;
  text-decoration: none;
  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  height: 40px;
  text-align: center;
  width:200px;
  margin-bottom: 90px;
  cursor: pointer;
}

.send-btn::before {
  content:"";
  position: absolute;
  width:200px;
  height: 8px;
  background-color: rgb(240, 197, 46);
  top: 16px;
  left: 0px;
  z-index: -10;
}

.send-btn:hover {
  background-color: rgb(240, 197, 46);
}

.send-btn:active span {
  opacity: 0.3;
}

.modal-content-close-2 {
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 0;
  background-color: rgb(240, 197, 46);
  opacity: 0.5;
  border: 0;
  cursor: pointer;
  z-index: 200;
  }

  .modal-content-close-2:hover {
    opacity: 1;
  }

  .modal-content-close-2:active {
    opacity: 0.3;
  }

  .modal-content-close-2::before {
  content: "";
  position: absolute;
  width:23px;
  height: 22px;
  top: 27%;
  left: 27%;
  background-color: transparent;
  background-image: url("./../img/modal-close.png");
  z-index: 140;
}

/*=============Стили второго слайдв==================== */

.caption {
  padding: 0;
}

.caption h1 {
  letter-spacing: 0.2px;
  margin-bottom: 0;
  margin-left: 60px;
}

.breadcrumbs {
  padding-left: 60px;
  padding-bottom: 40px;
  padding-top: 11px;
  margin:0;
}

.breadcrumbs a {
  position: relative;
  padding-right: 37px;
  opacity: 0.3;
  color: inherit;
}

.breadcrumbs a:hover {
  opacity: 0.6
}

.breadcrumbs a:active {
  opacity: 0.1;
}

.breadcrumbs span {
  opacity: 0.1;
}

.breadcrumbs a:first-child::after,
.breadcrumbs a:nth-child(2)::after {
  content: "";
  width: 3px;
  height: 3px;
  border: 2px solid black;
  position: absolute;
  top:8px;
  right:17px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  border-left: none;
  border-bottom: none;
}

.head-background {
  min-height: 70px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(33.5%, rgb(220, 220, 220)), color-stop(33.5%, rgb(238, 238, 238)));
  background-image: -webkit-linear-gradient(left, rgb(220, 220, 220) 33.5%, rgb(238, 238, 238) 33.5%);
  background-image: -o-linear-gradient(left, rgb(220, 220, 220) 33.5%, rgb(238, 238, 238) 33.5%);
  background-image: linear-gradient(to right, rgb(220, 220, 220) 33.5%, rgb(238, 238, 238) 33.5%);
}

.head-content {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 70px;
}

.head-word  {
  margin: 0;
  width: 328px;
  position: relative;
  font-family: 'Gilroy', sans-serif;
  font-size: 16px;
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-color: rgb(220, 220, 220);
  -ms-flex-item-align: center;
      align-self: center;
  padding: 18px 0;
}

.head-word b {
  padding-left: 60px;
}

.head-word::after {
  content: "";
  width:200px;
  height:2px;
  position:absolute;
  background-color: rgb(0, 0, 0);
  top: 137px;
  left: 61px;
  z-index: 10;
}

.head-content .sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
  width: 762px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: rgb(238, 238, 238);
  padding: 18px 0 18px 70px;
}

.sorting b {
  font-family: 'Gilroy', sans-serif;
  font-size: 16px;
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  padding-left: 3px;
}

.sort-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-left: 50px;
}

.sort-type label {
  padding-right: 29px;
  opacity: 0.3;
}

.sort-type input[type="radio"]:checked + label {
  opacity: 1;
}

.sort-type label:hover {
  opacity: 0.6;
}

.sort-type label:active {
  opacity: 1;
}

.sort-type a {
  text-decoration: none;
  color: inherit;
}

.sort-type input {
  display: none;
}

.more-less {
  position: relative;
  width: 40px;
}

.more-less label:first-of-type:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border:0;
  background-image: url(".././img/icon-down.png");
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  top: 14px;
  left: 0px;
}

.more-less label:last-child:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border:0;
  background-image: url(".././img/icon-down.png");
  top: 14px;
  right: 0px;
}

.more-less label {
  opacity:0.2;
}

.more-less input[type="radio"]:checked + label {
  opacity:1;
}

.more-less label:hover {
  opacity:0.4;
}

.more-less label:active {
  opacity: 1;
}

.more-less input {
  display: none;
}

.flex-main-into {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1160px;
  margin: 0 auto;
  padding: 0
}

.flex-form-into {
  width:268px;
  padding-right: 0px;
  padding-left: 60px;
  background-color: rgb(235, 235, 235);
  position: relative;
}

.main-background {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(33.5%, rgb(235, 235, 235)), color-stop(33.5%, rgb(255, 255, 255)));
  background-image: -webkit-linear-gradient(left, rgb(235, 235, 235) 33.5%, rgb(255, 255, 255) 33.5%);
  background-image: -o-linear-gradient(left, rgb(235, 235, 235) 33.5%, rgb(255, 255, 255) 33.5%);
  background-image: linear-gradient(to right, rgb(235, 235, 235) 33.5%, rgb(255, 255, 255) 33.5%);
  min-height: 1213px;
}

.price-range {
  padding-top: 55px;
  padding-bottom: 8px;
}

.price-range p {
  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  color: black;
  font-weight: 800;
  font-style: normal;
  position: relative;
  padding-bottom: 10px;
}

.range-controls {
  padding-right: 65px;
  padding-bottom: 4px;
  position: relative;
}

.range-controls .scale {
  height: 2px;
  background: rgb(219, 219, 219);
}

.range-controls .bar {
  width: 60%;
  height: 2px;
  background: rgb(145, 201, 47);
}

.range-controls .toggle {
  position: absolute;
  top: -8px;
  left: -4px;
  cursor: pointer;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  position:absolute;
  background: white;
  -webkit-box-shadow: 0 2px 2px rgb(171, 171, 171);
          box-shadow: 0 2px 2px rgb(171, 171, 171);
  z-index: 10;
}

.range-controls .toggle::before {
  content: '';
  position: absolute;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  background-color: rgb(171, 171, 171);
  top: 40%;
  left: 40%;
}

.range-controls .toggle:active {
  width: 23px;
  height: 23px;
  top: -10px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  font-size: 14px;
  display: inline-block;
  width: 34%;
  opacity: 0.3;
}

.price-controls input {
  font-family: 'Open Sans', 'Roboto', sans-serif;
  font-size: 14px;
  width: 8px;
  padding: 8px 4px;
  text-align: center;
  color: black;
  opacity: 0.3;
  border: none;
  background: rgb(235, 235, 235);
}

.max-price input {
  text-align: left;
  width: 35px;
}

.color-type b {
  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  padding-bottom: 13px;
}

.color-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  min-height:284px;
  padding-top: 21px;
}

.color-type::before {
  content: "";
  width:200px;
  height:2px;
  position:absolute;
  background-color: rgb(0, 0, 0);
  top:13px;
  left:0px;
}

.color-type::after {
  content: "";
  width:200px;
  height:2px;
  position:absolute;
  background-color: rgb(0, 0, 0);
  top:297px;
  left:0px;
}

.color-type input[type="checkbox"] {
  display: none;
}

.color-type label {
  padding-left:38px;
  position: relative;
  margin-bottom: 4px;
}

.color-type label::before {
  content: "";
  width:20px;
  height:20px;
  position:absolute;
  border: 2px solid black;
  border-radius: 15%;
  top:6px;
  left:-1px;
  z-index: 15;
}

.color-type label:hover {
  opacity: 0.6;
}

input[type="checkbox"]:checked + label::after {
  content: "";
  width:14px;
  height:7px;
  position:absolute;
  border:4px solid black;
  top:8px;
  left:6px;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  z-index: 20;
}

.blue-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height:126px;
}

.blue-type b {
  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  padding-bottom: 15px;
}

.blue-type input[type=radio] {
  display: none;
}

.blue-type div {
  padding-left: 37px;
  position: relative;
  padding-bottom: 4px;
}

.blue-type label:hover,
.color-type label:hover {
  cursor: pointer;
}

.blue-type label::after {
  content:"";
  width:20px;
  height:20px;
  position:absolute;
  border-radius: 50%;
  border:2px solid black;
  top:5px;
  left:-1px;
}

.blue-type label:hover::after {
  opacity: 0.6;
}

.blue-type input[type="radio"]:checked + label::before {
  content:"";
  width:8px;
  height:8px;
  position:absolute;
  border-radius: 50%;
  background-color: black;
  top:13px;
  left: 7px;
  z-index: 10;
}

.show-it {
  position: relative;
  height:40px;
  width:200px;
  text-align: center;
  margin-top: 31px;
  z-index: 2;
}

.show-it a {
  text-decoration: none;
  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  vertical-align: middle;
  padding: 5px 0;
  margin-left: 6px;
  display: inline-block;
}

.show-it a:active {
  opacity: 0.3;
}

.show-it::before {
  content:"";
  position: absolute;
  width:200px;
  height: 8px;
  background-color: rgb(240, 197, 46);
  top:19px;
  left:0;
  z-index: -1;
}

.show-it:hover {
  background-color: rgb(240, 197, 46);
}

.flex-sorter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 70px;
  padding-top: 0px;
  margin:0;
  width:760px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
}

.stuff-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 45px;
}

.stuff-group article {
  width:360px;
  position:relative;
}

.stuff-group article:hover img {
  opacity: 0.7;
}

article:hover .in-basket {
  visibility: visible;
}

article:hover .add-to {
  visibility: visible;
}

article .name-price {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-bottom: 20px;
}

.cost {
  font-size: 16px;
}

.stuff-group article:nth-child(2n) {
  margin-left: 40px;
}

.new-thing::after {
  content: "";
  position: absolute;
  border: 2px solid rgb(191, 191, 191);
  border-radius: 50%;
  top:52px;
  right:25px;
  z-index: 100;
  width: 55px;
  height: 55px;
}

.new-thing::before {
  content: "NEW";
  font-family: 'Gilroy', sans-serif;
  font-size: 14px;
  position: absolute;
  color: rgb(191, 191, 191);
  top: 63px;
  right: 38px;
  z-index: 100;
}

.name-price a {
  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 800;
  font-style: normal;
  width: 245px;
  padding-bottom: 10px
}

.stuff-group img {
  padding-bottom: 15px;
  padding-top: 21px;
}

.in-basket {
  position: absolute;
  height:40px;
  width:200px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  margin-top: 31px;
  margin-left: -2px;
  z-index: 2;
  top:31%;
  left:21%;
  visibility: hidden;
  text-align: center;
}

.in-basket a {
  text-decoration: none;
  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  vertical-align: baseline;
  padding-top: 5px;
  padding-left: 40px;
  display: inline-block;
  text-align: center;
}

.in-basket a:active {
  opacity: 0.3;
}

.in-basket::before {
  content:"";
  position: absolute;
  width:200px;
  height: 8px;
  background-color: rgb(240, 197, 46);
  top: 18px;
  left: 0px;
  z-index: -1;
}

.in-basket:hover {
  background-color: rgb(240, 197, 46);
}

.add-to {
  position: absolute;
  z-index: 2;
  top:47%;
  left:30%;
  visibility: hidden;
}

.add-to a {
  font-family: 'Open Sans', 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 300;
  opacity: 0.5;
}

.add-to a:hover {
  opacity: 1;
}

.add-to a:active {
  opacity: 0.2;
}

.navigator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height:70px;
  margin-top:10px;
  background-color: rgb(235, 235, 235);
  width:760px;
  font-family: 'Gilroy', sans-serif;
  font-size: 16px;
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 75px;
}

.navigator div {
  padding-top: 18px;
  width:120px;
  padding-left: 5px;
  text-align: center;
}

.navigator a {
  text-decoration: none;
  color: inherit;
}

.navigator a:nth-child(2),
.navigator a:nth-child(3) {
  opacity:0.3;
}

.navigator div:first-child {
}

.pages a {
  margin-right: 18px;
}

.backward:active,
.forward:active {
  opacity:0.3;
}

.backward:hover,
.forward:hover {
  cursor: pointer;
  background-color:rgb(217, 217, 217);
}
